*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #f5f5f7;
  font-family: "Inter", sans-serif;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 20px;
}


.job-card {
  width: 280px;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  position: relative;
  transition: 0.2s ease;
}

.job-card:hover {
  transform: translateY(-3px);
}

.save-btn {
  position: absolute;
  right: 18px;
  top: 18px;
  background: #f3f3f3;
  border: none;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.company-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 42px;
  height: 42px;
  background: #ffe3e3;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo img {
  width: 120%;
}

.company-name {
  font-size: 14px;
  font-weight: 600;
}

.posted {
  font-size: 12px;
  color: #808080;
  margin-top: 2px;
}

.job-title {
  margin-top: 18px;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
}

.tags {
  margin-top: 10px;
}

.tags span {
  display: inline-block;
  font-size: 12px;
  background: #f4f4f4;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 6px;
}

hr {
  margin: 18px 0;
  border: none;
  height: 1px;
  background: #ececec;
  margin-top: 90px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 96px; */
}

.rate {
  font-size: 16px;
  font-weight: 700;
}

.location {
  font-size: 12px;
  color: gray;
}

.apply-btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s ease-in-out;
}

.apply-btn:hover {
  opacity: 0.90;
}
